/*Estado del bot, estilos del mismo*/
.status-minimal {
  display: inline-block;
  font-weight: 500;
  font-size: 1.1em;
  padding: 0.3em 1em;
  border-radius: 999px;
  background: none;
  color: #fff;
  margin: 0.5em 0 1.5em 0;
  box-shadow: none;
  border: none;
  transition: color 0.3s;
}
.status-minimal.active {
  color: #4caf50;
  background: none;
  border: none;
}
.status-minimal.inactive {
  color: #f44336;
  background: none;
  border-color: none;
}
/*Texto que va junto al estado del bot*/
.estado-label {
  color: #bbb;
  font-weight: bold;
  margin-right: 0.5em;
  font-size: 1.05em;
}
.estado-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  gap: 0.5em;
}

h1{
  color:#ffffff; /* Blanco */
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

#open-github-issue {
 background-color: rgba(154, 53, 232, 0.6); /* morado translúcido */  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s,transform 0.2s;
}
#open-github-issue:hover {
  background-color: rgba(154, 53, 232, 0.8);
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}
#open-github-issue::before{
  display: block;
}
#open-github-issue.clicked::before{
  display: none;
}
#open-github-issue::after{
display:none;
}
#open-github-issue.clicked::after{
  display: block;
}

body,html{
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: transparent;
}

#miCanvas{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index:-1; /* Asegura que el canvas esté detrás de otros elementos */
  pointer-events: none;
  background:#111;
}

.fondo-translucido {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 1rem;
}

