.status { 
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

.active { 
background-color: rgba(76, 175, 80, 0.6); /* Verde translúcido */    color: white;
}

.inactive { 
  background-color: rgba(244, 67, 54, 0.6); /* Rojo translúcido */
    color: white;
}

h1{
  color:#ffffff; /* Blanco */
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

body {
  margin: 0;
  background-color: #0a0a0a; /* un gris claro */
}

#open-github-issue {
 background-color: rgba(154, 53, 232, 0.6); /* morado translúcido */  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s,transform 0.2s;
}
#open-github-issue:hover {
  background-color: rgba(154, 53, 232, 0.8);
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}
#open-github-issue::before{
  display: block;
}
#open-github-issue.clicked::before{
  display: none;
}
#open-github-issue::after{
display:none;
}
#open-github-issue.clicked::after{
  display: block;
}


#backgroundCanvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Asegura que el canvas esté detrás de otros elementos */
  pointer-events: none; /* Permite que los eventos del mouse pasen a través del canvas */
}

body,html{
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #0a0a0a;
}

#miCanvas{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1; /* Asegura que el canvas esté detrás de otros elementos */
}

.fondo-translucido {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 1rem;
}

